td, th {
 padding : 5px; 
 vertical-align:middle;
}

th {
background-color : #ECEDED;
}


/* Header customisation */
h1 {
font-family: Segoe UI Semibold;
}

h2 {
color: #005d80;
font-family: Segoe UI Semibold;
}

h3 {
color: #007caa;
font-family: Segoe UI;
}

/* Couleurs */
:root {
  --md-default-fg-color:        #404040; /* text */
  --md-default-fg-color--light: #7f7f7f; /* h1 */
  --md-accent-fg-color:         #FF8024; /* highlight */
}

:root>* {
--md-typeset-a-color: #FF8024; /*  links */
}

/* Web site title */
.md-header {
  color: #404040;
  font-family: Segoe UI Semibold;
  padding-left:250px;
  padding-right:250px;
}

/* Tabs */
.md-tabs {
  width: 100%;
  padding-left:250px;
  padding-right:250px;
  color: #007caa;
  font-family: Segoe UI Semibold;
  text-transform: uppercase;
}

/* Etendre affichage de la page */
.md-grid {
  max-width: 1680px;
}

/*reduce image + center class*/
.fullpage {
  width:90%;
  margin: auto;
  display: block;
}

/*class icon*/
.icon {
  height: auto;
  width: 27px;
}

/*center image class*/
.center {
  margin: auto;
  display: block;
}